.navbarBlue{
    background-color: #002454;
    overflow: hidden;
}

.navbarBlue a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.navbarBrand {
    cursor: pointer;
    color: white;
}

.navbarBrand .northernAZ {
    color: yellow;
}