<app-header></app-header>

<!-- <div class="container"> -->
<div class="row">
  <div style="background-color: yellow; height: 30vh; border: 1px solid #002454" class="col-4">
    <div class="container">
      <div class="searchDropdown">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label class="domain-label-text" for="projectName">Select Project Name:</label>
            <br />
            <div class="projectNameDropdown">
              <select class="form-control" ngModel name="projectName" (change)="onChange($event.target.value)">
                <option *ngFor="let project of projectModel" [value]="project.projectName">{{project.projectName}}
                </option>
              </select>
              <input [disabled]="!f.dirty" class="btn search-button" type="submit" value="Search">
            </div>
            <div class="domain-label-text">Domain Labels:</div>
            <br />
            <div class="domainLabelCheckbox" *ngFor="let check of checks">
              <input type="checkbox" [id]="check.id" [name]="check.label" [(ngModel)]="check.selected" />
              <label [for]="check.id">{{ check.label }}</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="container">
      <div class="search-label-text">Search Results:</div>

      <div class="card issueCard" *ngFor="let data of issuesData">
        <div class="card-body">
          <p><span class="issueTitle">{{ data.title }}</span> <a [attr.href]="data.link" target="_blank"> #{{
              data.number }}</a></p>
          <p></p>
          <div class="issueData">
            <p class="issueCardText"><u>Relevant skills:</u> {{ data.labels }}</p>
            <p class="issueCardText"><u>Link to the open issue:</u> <a [attr.href]="data.link" target="_blank">
                {{data.link}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->